body, html {
  height: 100%;
}
  
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  .bg {
  background-image: url("images/eplbackground2.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  #table {
  color: white;
  font-weight: bold;
  }
    
  tr {
  border-bottom: 1px solid purple;
  }
  
  th {
  color: ivory;
  font-size: 18px;
  border-bottom: 3px solid purple;
  }

background-color: black;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.bg {
background-image: url("images/eplbackground2.jpg");
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#table {
color: white;
font-weight: bold;
font-family: 'Gupter', serif;
font-size: 17px;
padding: 5px;
}
  
tr {
border-bottom: 1px solid purple;
}

th {
color: ivory;
font-size: 18px;
border-bottom: 3px solid purple;
}


.bg2 {
background-image: url("images/playersbackground.jpg");
height: 100%; 
background-position: center;
background-repeat: repeat-y;
background-size: cover;
  }

#players {
color: black;
font-family: 'Calistoga', cursive;
}

li {
  padding: 15px;
}

#team-info {
margin-left:auto;
margin-right:auto;
background-color: ivory;
height: 100%; 
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.bg3 {
  background-color: white;
  height: 100%; 
  background-size: cover;
  min-height:100%;
  }

.bg4 {
background-color: black;
}
