body, html {
  height: 100%;
}

body {
  background-image: url("images/matchbackground.jpg");
  background-position: center top;
  background-size: 100% auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  .bg {
  background-image: url("images/eplbackground2.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  #table {
  color: gray;
  font-weight: bold;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  }
    
  tr {
  border-bottom: 1px solid gray;
  }
  
  th {
  color: white;
  font-size: 18px;
  border-bottom: 3px solid gray;
  }

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.bg {
background-image: url("images/matchbackground.jpg");
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#table {
color: white;
font-weight: bold;
font-family: 'Gupter', serif;
font-size: 15px;
padding: 5px;
border: 3px solid gray;
}
  
tr {
border-bottom: 1px solid gray;
}

th {
color: darkgray;
font-size: 18px;
border-bottom: 3px solid gray;
}


.bg2 {
background-image: url("images/playersbackground.jpg");
height: 100%; 
background-position: center;
background-repeat: repeat-y;
background-size: cover;
  }


li {
margin-bottom: 20px;
}

#team-info {
margin-left:auto;
margin-right:auto;
height: 100%; 
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: white;
border: 3px solid darkgray;
border-bottom: 3px solid darkgray;
}

.bg3 {
  background-color: white;
  height: 100%; 
  background-size: cover;
  min-height:100%;
  }

.bg4 {
background-color: black;
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.navlink {
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  display: flex; 
  justify-content: center
}

#players {
  margin-left:auto;
  margin-right:auto;
  height: 100%; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border: 3px solid darkgray;
  border-bottom: 3px solid darkgray;  
  font-family: 'Calistoga', cursive;
  font-size: 15px;
}
